.contact-page {
padding: 30px;
background: #f6efe7;
margin-top: 60px;
margin-bottom: -50px;
}
.contact-page h2 {
text-align: center;
margin-bottom: 50px;
}
.contact-top {
display: flex;
flex-wrap: wrap;
gap: 40px;
margin-bottom: 30px;
color:#004080;
margin-bottom: 75px;
}
.contact-left {
flex: 1;
text-align: right;
}
.contact-right {
flex: 1;
position: relative;
border: 3px solid #f6efe7;
box-shadow: 0 0 20px rgba(38, 68, 98, 0.6);
border-radius: 10px;
overflow: hidden;
transition: box-shadow 0.3s ease;
}
.contact-right:hover {
box-shadow: 0 0 30px rgba(25, 73, 120, 0.9);
}
.contact-info p {
font-size: 16px;
margin-bottom: 16px;
line-height: 1.5;
}
.contact-buttons {
display: flex;
gap: 15px;
margin-top: 20px;
display: flex;
gap: 20px;
margin-top: 20px;
justify-content:flex-end;
}
.animated-button {
position: relative;
display: inline-flex;
align-items: center;
justify-content: center;
overflow: hidden;
border: none;
padding: 12px 85px;
background: transparent;
color: #213555;
font-size: 16px;
cursor: pointer;
text-decoration: none;
border-top: 2px solid #213555;
border-bottom: 2px solid #213555;
transition: color 0.3s ease;
}
.animated-button .icon {
position: absolute;
width: 24px;
height: 24px;
opacity: 0;
transition: opacity 0.3s, transform 0.3s;
}
.animated-button .text {
transition: transform 0.3s ease, opacity 0.3s ease;
white-space: nowrap;
color:#85193C;
}
.animated-button:hover .text {
transform: translateX(100%);
opacity: 0;
}
.animated-button:hover .icon {
opacity: 1;
transform: translateX(0);
}
.iconTel{
text-decoration: none;
color: inherit;
}
.office-photo {
width: 100%;
max-height: 400px;
object-fit: cover;
border-radius: 8px;
border: 1px solid #ccc;
overflow: hidden;
}