.App {
text-align: center;
}
html, body {
font-family: "Inter", sans-serif;
font-optical-sizing: auto;
margin: 0;
padding: 0;
overflow-x: hidden; 
width: 100%;
scrollbar-width: thin; 
scrollbar-color: rgba(0, 0, 0, 0.2) transparent;
}
:-webkit-scrollbar {
width: 8px;
}
:-webkit-scrollbar-track {
background: transparent;
}
:-webkit-scrollbar-thumb {
background-color: rgba(0, 0, 0, 0.2); 
border-radius: 4px;
border: none;
}
:-webkit-scrollbar-thumb:hover {
background-color: rgba(0, 0, 0, 0.4); 
}
.App-logo {
height: 40vmin;
pointer-events: none;
}
@media (prefers-reduced-motion: no-preference) {
.App-logo {
animation: App-logo-spin infinite 20s linear;
}
}
.top{
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}
.aboutText{
color:#004080;
margin-bottom: 10px;
font-size: 18px;
font-weight: 500;
}
.textService{
text-decoration: none;
color: inherit;
}
.vid{
width: 100%;
top: 0;
left: 0;
margin-top: -40px;
z-index: 4000;
display: flex; 
justify-content: center; 
align-items: center;
}
.advantages{
display: flex;
justify-content: space-evenly;
margin-top: -15px;
color:#004080;
}
.advantagesMain{
display: flex;
justify-content: center;
}
.advantagesStep{
justify-content: baseline;
}
.step{
font-size: 30px;
}
.about-page {
max-width: 1200px;
margin: 20px auto;
padding: 0 20px 60px;
background: #f6efe7;
border-radius: 8px;
box-shadow: 0 2px 10px rgb(0 0 0 / 0.1);
}
.slider-section img.slider-image {
width: 100%;
border-radius: 8px;
}
h2 {
color: #571130;
margin-bottom: 15px;
border-bottom: 2px solid #004080;
padding-bottom: 5px;
margin-top: -10px;
}
.link-text {
color: #004080;
cursor: pointer;
font-weight: 1200;
margin-top: 10px;
user-select: none;
width: max-content;
}
.link-text:hover {
text-decoration: underline;
}
.scrol{
color: #004080;
}
.scrol li{
margin-bottom: 10px;
font-size: 18px;
font-weight: 500;
}
/* -------------------- МОБИЛЬНАЯ ВЕРСИЯ -------------------- */
@media(max-width: 992px){
.aboutText{
margin-left: 30px;
margin-right: 30px;
font-size: 15px;
}
.advantagesStep{
margin-left: 30px;
margin-right: 30px;
}
.footer-logo {
width: 60px;
}
.footer-info{
font-size: 10px;
}
.scrol li{
font-size: 15px;
}
.service-image img {
width: 80%;
height: 400px;
}
.service-text h3 {
font-size: 20px;
}
.service-text p {
font-size: 13px;
}
.contact-top {
flex-direction: column;
}
.contact-left {
text-align: center;
}
.contact-info p {
font-size: 15px;
margin-top: -10px;
}
.contact-buttons {
justify-content:center;
}
.cert-page h2{
font-size: 25px;
margin-top: -10px;
}
.customers-page h2{
font-size: 25px;
}
.services-page h2{
font-size: 25px;
}
}
@media(max-width: 768px){
.link{
font-size: 10px;
}
.aboutText{
margin-left: 30px;
margin-right: 30px;
font-size: 13px;
}
.advantages{
font-size: 13px;
}
.step{
font-size: 25px;
}
.footer-logo {
width: 60px;
}
.footer-info{
font-size: 10px;
}
.scrol li{
font-size: 13px;
}
.service-image img {
width: 80%;
height: 400px;
}
.service-text h3 {
font-size: 18px;
}
.service-text p {
font-size: 12px;
}
.contact-top {
flex-direction: column;
align-items: center;
}
.contact-info p {
justify-content: center;
font-size: 15px;
margin-top: -10px;
}
.contact-buttons {
justify-content:center;
}
.text{
font-size: 15px;
}
.contact-right{
width: 500px;
}
.cert-page h2{
font-size: 20px;
margin-top: -10px;
}
.customers-page h2{
font-size: 20px;
}
.point-item{
font-size: 15px;
}
.services-page h2{
font-size: 20px;
}
.card-container {
width: 500px;
height: 400px;
}
.card {
width: 90%;
height: 90%;
}
.card-front,
.card-back {
width: 90%;
height: 90%;
}
.card-front img {
width: 100%;
}
.card-back table {
width: 90%;
font-size: 10px;
margin-top: 5px;
}
.info{
font-size: 13px;
padding: 10px;
}
.flip-card {
width: 400px;
height: 250px;
perspective: 400px;
}
.flip-card-front img {
width: 100%;
height: 80%;
}
.flip-card-back p { 
font-size: 12px;   
}
.flip-button {
font-size: 12px;
}
}
@media (max-width: 500px) {
.burger {
display: flex;
}
.company-name{
  display: none;
}
.nav-left,
.nav-right,
.nav-center.desktop-only {
display: none;
}
.header {
order: 1; 
}
.nav-wrapper {
justify-content: space-between;
}
.nav-links {
position: absolute;
top: 0;
right: 0;
background: linear-gradient(#213555,#4F709C,#eeacac, #F5EFE7);
flex-direction: column;
width: 40%;
display: none;
padding: 15px 0;
z-index: 999;
align-items:end;
}
.nav-links.active {
display: flex;
}
.nav-links .header {
display: none;
}
.nav-links-desktop {
display: none;
}
.mobile-menu {
background: linear-gradient(#F5EFE7,#eeacac,#4F709C,#213555);
color: #213555;
display: flex;
flex-direction: column;
gap: 5px;
padding: 5px;
transition: transform 0.3s ease;
transform: translateY(-100%);
position: absolute;
width: 100%;
margin-top: -95px;
z-index: 900;
}
.mobile-menu.menu-open {
transform: translateY(0);
}
.page-content.shifted {
margin-top: 200px;
}
.nav-content {
justify-content: space-between;
}
.nav-logo {
justify-content: flex-start;
display: block;
}
.advantages{
font-size: 10px;
}
.step{
font-size: 20px;
}
.footer-logo {
width: 60px;
margin-left: 30px;
}
.footer-info{
font-size: 8px;
}
.scrol li{
font-size: 13px;
}
.service-image img {
width: 80%;
height: 400px;
}
.service-text h3 {
font-size: 18px;
}
.service-text p {
font-size: 12px;
}
.contact-top {
flex-direction: column;
align-items: center;
}
.contact-info p {
justify-content: center;
font-size: 15px;
margin-top: -10px;
}
.contact-buttons {
justify-content:center;
}
.text{
font-size: 15px;
}
.contact-right{
width: 500px;
}
.cert-page h2{
font-size: 20px;
margin-top: -10px;
}
.customers-page h2{
font-size: 20px;
}
.point-item{
font-size: 15px;
}
.services-page h2{
font-size: 20px;
}
.card-container {
width: 400px;
height: 400px;
}
}
